body{
	background-color: #7097e6;
}

*{
	background-color: #afcaff;
	font-family: "Arial", sans-serif;
}

.title{
	padding-top:10pt;
	padding-bottom:10pt;
	margin-bottom:5pt;
}

.container{
	background-color: #afcaff;
	padding-top: 10pt;
	padding-bottom: 10pt;
}


.container .form .table{
	border-color: white;
}
